extends layout
block links
    link(rel='stylesheet', href='/stylesheets/Contact-Form-Clean.css')
block content
    section#contact
        .contact-clean(style='background-color: rgb(0,0,0);')
            form(method='post', style='background-color: rgb(0,0,0);')
                h2.text-center.text-white Contact us
                .form-group
                    input.form-control(type='text', name='name', placeholder='Name')
                .form-group
                    input.form-control.is-invalid(type='email', name='email', placeholder='Email')
                    small.form-text.text-danger(style='color: rgb(255,61,80);filter: saturate(100%);font-style: normal;font-weight: 800;') Please enter a correct email address.
                .form-group
                    textarea.form-control(name='message', placeholder='Message', rows='14')
                .form-group
                    button.btn.btn-primary(type='submit') send

block scripts
    script(src='/javascripts/form.js')

